<h4>Update User</h4>
<p>Change username:</p>
<mat-form-field>
    <input matInput [(ngModel)]="user.userName">
</mat-form-field>
<p>Change user role:</p>
<div class="btn-group">
    <label class="btn btn-success" [(ngModel)]="user.role" btnRadio="admin" tabindex="0" name="radio-admin"
        role="button">Role: Admin</label>
    <label class="btn btn-success" [(ngModel)]="user.role" btnRadio="user" tabindex="0" name="radio-user"
        role="button">Role: User</label>
</div>
<p>Change user email confirmation:</p>
<div class="btn-group">
    <label class="btn btn-success" [(ngModel)]="user.emailConfirmed" btnRadio="true" tabindex="0" name="radio-admin"
        role="button">Email confirmed</label>
    <label class="btn btn-success" [(ngModel)]="user.emailConfirmed" btnRadio="false" tabindex="0" name="radio-user"
        role="button">Email not confirmed</label>
</div>
<button type="button" class="btn btn-primary" (click)="updateUser()">Update User</button>