<body>
    <h2>Magazine</h2>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let magazine">{{magazine.title}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let magazine">{{magazine.price}}</td>
        </ng-container>
        <ng-container matColumnDef="books">
            <th mat-header-cell *matHeaderCellDef>Books</th>
            <td mat-cell *matCellDef="let magazine"><p *ngFor="let book of magazine.books">{{book.title}}&nbsp;</p>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let magazine">
                <button mat-button (click)="openUpdateDialog(magazine)">Edit</button>
                <button mat-button (click)="deleteMagazine(magazine.id)">Remove</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button type="button" class="btn btn-primary" (click)="openAddDialog()">Add Magazine</button>
</body>