body{
    width: 1500px;
    padding-left: 50px;
    background-color: transparent;
}
p{
    font-size: 14px;
}
input[type="submit"]
{
    font-size:14px;
}
input[type="text"]
{
    font-size:14px;
    margin-right: 10px;
}
.books-wrapper{
    display: flex;
}
.magazine{
    width: 400px;
}
h2{
    font-size: 30px;
}
button{
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: bottom;
}
.custom{
    width: 600px;
}
table{
    width: 500px;
}
.mat-form-field{
    font-size: 14px;
    width: 500px;
}