/* Application-wide Styles */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* p{
    font-size: 14px;
} */
input::placeholder{
    font-size: 14px;
}
.ng-select.custom{
    font-size: 14px;
}
button{
    font-size: 14px;
}