<h4>Add User</h4>
<p>User email:</p>
<mat-form-field>
    <input matInput [(ngModel)]="newuser.email">
</mat-form-field>
<p>User password:</p>
<p>*password must have minimum 6 symbols, 1 non-alphanumeric symbol, <br>1 uppercase letter, 1 lowcase letter, 1 digit</p>
<mat-form-field>
    <input matInput [(ngModel)]="newuser.password">
</mat-form-field>
<p>Choose user role:</p>
<div class="btn-group">
    <label class="btn btn-success" [(ngModel)]="newuser.role" btnRadio="admin" tabindex="0" name="radio-admin"
        role="button">Role: Admin</label>
    <label class="btn btn-success" [(ngModel)]="newuser.role" btnRadio="user" tabindex="0" name="radio-user"
        role="button">Role: User</label>
</div>
<p>Choose user email confirmation:</p>
<div class="btn-group">
    <label class="btn btn-success" [(ngModel)]="newuser.emailConfirmed" btnRadio="true" tabindex="0" name="radio-admin"
        role="button">Email confirmed</label>
    <label class="btn btn-success" [(ngModel)]="newuser.emailConfirmed" btnRadio="false" tabindex="0" name="radio-user"
        role="button">Email not confirmed</label>
</div>
<button type="button" class="btn btn-primary" (click)="addUser()">Add User</button>