body{
    width: 1500px;
    padding-left: 50px;
    background-color: transparent;
}
input[type="submit"]
{
    font-size:14px;
}
input[type="text"]
{
    font-size:14px;
    margin-right: 10px;
    height: 30px;
}
.genres-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.genre{
    width: 400px;
}
p{
    font-size: 14px;
}
h2{
    font-size: 30px;
}
button{
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: bottom;
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    width: 700px;
}
.mat-form-field {
    font-size: 14px;
    width: 700px;
}