<body>
    <mat-dialog-content class="mat-basket">
        <h4>Basket:</h4>
        <h4 *ngIf="basketbooks.books.length>0">Books:</h4>
        <div class="books-wrapper">
            <div class="book" *ngFor="let book of basketbooks.books">
                <div class="book-image">
                    <img src={{book.imageUrl}} alt={{book.title}}>
                </div>
                <p>Title: {{book?.title}}</p>
                <p>Price: {{book?.price}}</p>
                <p>Publish date: {{book.publishDate}}</p>
                <div class="description-container" [class.show]="book.visible">
                    <p>Description: {{book.description}}</p>
                </div>
                <button class="show-more-button btn btn-primary"
                    (click)="book.visible = !book.visible">{{ book.visible ? 'Show less': 'Show More' }}</button>
                <div *ngIf="book.authors.length>0">
                    <h6>Authors:</h6>
                    <div *ngFor="let author of book.authors">
                        <p>{{author?.name}}</p>
                    </div>
                </div>
                <div *ngIf="book.genres.length>0">
                    <h6>Genres:</h6>
                    <div *ngFor="let genre of book.genres">
                        <p>{{genre?.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h4 *ngIf="basketmagazines.magazines.length>0">Magazines:</h4>
        <div class="magazines-wrapper">
            <div class="magazine" *ngFor="let magazine of basketmagazines.magazines">
                <p>Magazine title: {{magazine?.title}}</p>
                <p>Magazine price: {{magazine?.price}}</p>
                <div *ngIf="magazine.books.length>0">
                    <h6>Books:</h6>
                    <div *ngFor="let book of magazine.books">
                        <p>Book title: {{book?.title}}</p>
                        <p>Book price: {{book?.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p>Total amount: {{totalamount}}</p>
        <div *ngIf="basketbooks.books.length>0 || basketmagazines.magazines.length>0">
            <button class="btn btn-primary" type="submit" (click)="clearBasket()">Clear basket</button>
            <button class="btn btn-primary" [routerLink]="['payment']" (click)="pay(totalamount)">Pay</button>
        </div>
    </mat-dialog-content>
</body>