body{
    background-image: url(https://previews.dropbox.com/p/thumb/AAjjvY3XWhdIC1U8s6_lu3zmrqWydIAdAsuvQoZDI1VI4ImMBe_Vdc195jeS0b5v_W9Bjx5aw6urQUq0UlgVkEoxuB_nDQRClamxkDtceJgKrghCW7BzLRWO7ETvmCN11oIHARrF6VGLZYkof9bOByrQfFaHoyAYVJenGFhVIblSmum2uNLbx99yXQQzf1lo1xxwepSwxORQTgfRi35syd218Q21b7Lw9Lbfc8so66XLNscsoT5kb9zrFwjjuC-DH5waDRthO_oCwJqE0pZiVuDBQ7q9dyDJ8tlyfb0LovrH768qb5M-X__SEAZCfazAyNCTy5QAGVQGm51VZZ0MSu4A/p.png?fv_content=true&size_mode=5);
}
p{
    font-size: 14px;
}
.books-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.book{
    width: 280px;
    border-radius: 1px solid rgb(95, 94, 94); 
    padding: 5px;
    margin-right: 10px;
}
.magazines-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.magazine{
    width: 20%;
    padding-bottom: 1%;
}
mat-dialog-content{
    width: 1400px;
}
.description-container{
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
  }
  .show {
      overflow: visible;
      height: auto;
  }
  button{
      font-size: 14px;
      margin-right: 10px;
  }