<div class="magazine">
    <p>Title:</p>
    <mat-form-field>
        <input matInput [(ngModel)]="magazine.title">
    </mat-form-field>
    <p>Price:</p>
    <mat-form-field>
        <input matInput [(ngModel)]="magazine.title">
    </mat-form-field>
    <div *ngIf="magazine.books.length>0">
        <div class="books-wrapper">
            <p><b>Books:&nbsp;</b></p>
            <p *ngFor="let book of magazine.books">{{book?.title}}&nbsp;</p>
        </div>
    </div>
</div>
<p>Select new books</p>
<ng-select class="custom" [items]="books.books" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="title" placeholder="Select books" [(ngModel)]="magazine.books">
</ng-select><br>
<button mat-button (click)="updateMagazine()">Edit</button>