p{
    font-size: 14px;
}
body{
    background-image: url(https://previews.dropbox.com/p/thumb/AAjjvY3XWhdIC1U8s6_lu3zmrqWydIAdAsuvQoZDI1VI4ImMBe_Vdc195jeS0b5v_W9Bjx5aw6urQUq0UlgVkEoxuB_nDQRClamxkDtceJgKrghCW7BzLRWO7ETvmCN11oIHARrF6VGLZYkof9bOByrQfFaHoyAYVJenGFhVIblSmum2uNLbx99yXQQzf1lo1xxwepSwxORQTgfRi35syd218Q21b7Lw9Lbfc8so66XLNscsoT5kb9zrFwjjuC-DH5waDRthO_oCwJqE0pZiVuDBQ7q9dyDJ8tlyfb0LovrH768qb5M-X__SEAZCfazAyNCTy5QAGVQGm51VZZ0MSu4A/p.png?fv_content=true&size_mode=5);
    background-repeat: repeat;
}
.mainpage-body{
    padding: 10px;
    display: flex;
}
.searchline{
    margin-top: 10px;
    width: 100%;
}
.side-bar{
    width: 288px;
    border-right: 1px solid rgba(143, 129, 129, 0.979);
    padding: 10px;
}
.content{
    margin-left: 2%;
    width: 1632px;
}
.book{
    overflow: hidden;
    width: 1400px;
    height: 280px;
    border-bottom: 1px solid rgba(143, 129, 129, 0.979);
    padding-bottom: 1%;
    display: flex;
}
.book-description{
    padding-right: 30px;
}
.book-image{
    padding-top: 6px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.book-authors-loop{
    display: flex;
}
.book-genres-loop{
    display:flex;
}
.magazines-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.magazine{
    width: 20%;
    padding-bottom: 1%;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
.bsdaterange{
    width: 100%;
}
.page-size{
    width:5%;
}
.add-to-basket-button{
    margin-top: 15px;
}
.description-container{
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
h6{
    font-size: 14px;
}
.show-more-button{
    margin-bottom: 5px;
}
.my-pagination /deep/ .ngx-pagination{
    font-size: 14px;
}
button{
    font-size: 14px;
}
a{
    color: black;
}
::ng-deep .mat-tooltip{
    font-size: 12px;
}