<app-header></app-header>
<body>
    <div class="mainpage-body">
        <div class="side-bar">
            <div class="slider-filter">
                <p>Min value: <input type="number" [(ngModel)]="rangeValues.minValue"></p>
                <p>Max value: <input type="number" [(ngModel)]="rangeValues.maxValue"></p>
            </div>
            <div class="slider">
                <ng5-slider [(value)]="rangeValues.minValue" [(highValue)]="rangeValues.maxValue" [options]="options">
                </ng5-slider>
            </div>
            <ng-select class="custom" [items]="filterAuthors.authors" [multiple]="true" [closeOnSelect]="false"
                [searchable]="false" bindLabel="name" bindValue="id" placeholder="Select people"
                [(ngModel)]="paginationView.authorsId">
            </ng-select><br>
            <ng-select class="custom" [items]="filterGenres.genres" [multiple]="true" [closeOnSelect]="false"
                [searchable]="false" bindLabel="name" bindValue="id" placeholder="Select genres"
                [(ngModel)]="paginationView.genresId">
            </ng-select>
            <div class="row">
                <div class="col-xs-12 col-12 form-group">
                    <p>Choose date range:</p>
                    <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue"
                        [bsConfig]="bsConfig" placement="right">
                </div>
            </div>
            <button class="get-filtered-books-button btn btn-primary" type="submit"
                (click)="getFilteredBooks()">Filter</button>
            <input class="searchline" [(ngModel)]="searchText" placeholder="search text goes here">
        </div>
        <div class="content">
            <div class="books-wrapper">
                <div class="book"
                    *ngFor="let book of books.books |filter:searchText |paginate: { id:'paginationbooks', itemsPerPage: paginationView.pageSize, currentPage: paginationView.currentPage, totalItems: books.totalItems}">
                    <div class="book-image">
                        <img src={{book.imageUrl}} alt={{book.title}}>
                        <button class="add-to-basket-button btn btn-primary" type="submit"
                            (click)="addBookToBasket(book)">Add to
                            basket</button>
                    </div>
                    <div class="book-description">
                        <p>Title: {{book.title}}</p>
                        <p>Price: {{book.price}}</p>
                        <p>Publish date: {{book.publishDate}}</p>
                        <div class="description-container" [class.show]="book.visible">
                            Description: {{book.description}}
                        </div>
                        <button class="show-more-button btn btn-primary"
                            (click)="book.visible = !book.visible">{{ book.visible ? 'Show less': 'Show More' }}</button>
                        <div *ngIf="book.authors.length>0">
                            <div class="book-authors-loop">
                                <p><b>Authors:&nbsp;</b></p>
                                <p *ngFor="let author of book.authors">{{author?.name}} &nbsp;</p>
                            </div>
                        </div>
                        <div *ngIf="book.genres.length>0">
                            <div class="book-genres-loop">
                                <p><b>Genres:&nbsp;</b></p>
                                <p *ngFor="let genre of book.genres">{{genre?.name}} &nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination-controls *ngIf="books.books.length>0" class="my-pagination" id="paginationbooks"
                    (pageChange)="pagEvent($event)">
                </pagination-controls>
                <div class="page-size" *ngIf="books.books.length>0">
                    <ng-select class="custom" (change)="pageSizeChanging()" [items]="sizes" [clearable]="false"
                        [multiple]="false" [closeOnSelect]="true" [searchable]="false"
                        [(ngModel)]="paginationView.pageSize"></ng-select>
                </div>
            </div>
            <h4 *ngIf="books.books.length>0">Magazines:</h4>
            <div class="magazines-wrapper">
                <div class="magazine"
                    *ngFor="let magazine of magazines.magazines |filter:searchText |paginate: { id:'paginationmagazines', itemsPerPage: 1, currentPage: m}">
                    <p>Title: {{magazine?.title}}</p>
                    <p>Price: {{magazine?.price}}</p>
                    <div *ngIf="magazine.books.length>0">
                        <h6>Books:</h6>
                        <div *ngFor="let book of magazine.books">
                            <p>{{book?.title}}</p>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="addMagazineToBasket(magazine)">Add to basket</button>
                </div>
            </div>
            <pagination-controls *ngIf="books.books.length>0" id="paginationmagazines" (pageChange)="m = $event">
            </pagination-controls>
        </div>
    </div>
</body>