<body>
    <h2>Books</h2>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let book">{{book.title}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let book">{{book.price}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Publish Date</th>
            <td mat-cell *matCellDef="let book">{{book.publishDate}}</td>
        </ng-container>
        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef>Authors</th>
            <td mat-cell *matCellDef="let book">
                <p *ngFor="let author of book.authors">{{author?.name}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="genres">
            <th mat-header-cell *matHeaderCellDef>Genres</th>
            <td mat-cell *matCellDef="let book">
                <p *ngFor="let genre of book.genres">{{genre?.name}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let book">
                <button mat-button (click)="openUpdateDialog(book)">Edit</button>
                <button mat-button (click)="deleteBook(book.id)">Remove</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button type="button" class="btn btn-primary" (click)="openAddDialog()">Add Book</button>
</body>