body{

    width: 1500px;
    padding-left: 50px;
    background-color: transparent;
}
p{
    font-size: 14px;
}
.input-description{
    width: 600px;
    height: auto;
}
input[type="submit"]
{
    font-size:14px;
}
input[type="text"]
{
    font-size:14px;
    margin-right: 10px;
}
input[type="file"]
{
    font-size:14px;
}
button{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
textarea{
    font-size: 14px;
}
.description-container{
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
.book{
    width: 400px;
    padding-bottom: 30px;
    padding-right: 50px;
}
.books-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.authors-wrapper{
    display: flex;
}
.genres-wrapper{
    display: flex;
}
.form-control{
    font-size: 14px;
}
.image{
    padding-top: 10px;
}
.custom{
    width: 600px;
}
h2{
    font-size: 30px;
}
table{
    width: 800px;
}
.mat-form-field {
    font-size: 14px;
    width: 700px;
}