body{
    text-align: center;
    background-color: transparent;
}
a{
    font-size: 20px;
    color: black;
    cursor: pointer;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.wrapper{
    display: flex;
}
body{
    background-image: url(https://previews.dropbox.com/p/thumb/AAjjvY3XWhdIC1U8s6_lu3zmrqWydIAdAsuvQoZDI1VI4ImMBe_Vdc195jeS0b5v_W9Bjx5aw6urQUq0UlgVkEoxuB_nDQRClamxkDtceJgKrghCW7BzLRWO7ETvmCN11oIHARrF6VGLZYkof9bOByrQfFaHoyAYVJenGFhVIblSmum2uNLbx99yXQQzf1lo1xxwepSwxORQTgfRi35syd218Q21b7Lw9Lbfc8so66XLNscsoT5kb9zrFwjjuC-DH5waDRthO_oCwJqE0pZiVuDBQ7q9dyDJ8tlyfb0LovrH768qb5M-X__SEAZCfazAyNCTy5QAGVQGm51VZZ0MSu4A/p.png?fv_content=true&size_mode=5);
    background-repeat: repeat;
}
.menu{
    width: 288px;
    min-width: 288px;
    height: 1080px;
    border-right: 1px solid rgba(143, 129, 129, 0.979);
    text-align: center;
    background-color: transparent;
}