<app-header></app-header>
<body>
    <div class="wrapper">
        <div class="menu">
            <h1>Admin Menu</h1>
            <a (click)="openAuthor()">Author Editor</a><br>
            <a (click)="openBook()">Book Editor</a><br>
            <a (click)="openGenre()">Genre Editor</a><br>
            <a (click)="openMagazine()">Magazine Editor</a><br>
            <a (click)="openUser()">User Editor</a><br>
            <a routerLink="/mainpage">
                Back to store</a>
        </div>
        <div class="editors">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>