body{
    width: 1500px;
    padding-left: 50px;
    background-color: transparent;
}
.authors-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.author{
    width: 300px;
    padding: 20px;
}
p{
    font-size: 16px;
}
input[type="submit"]
{
    font-size:14px;
}
input[type="text"]
{
    font-size:14px;
    height: 30px;
}
button{
    font-size: 14px;
    vertical-align: bottom;
    margin-top: 10px;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 20px;
    padding: 10px;
}
table {
    width: 700px;
}
.mat-form-field {
    font-size: 14px;
    width: 700px;
}
  