<form [formGroup]="angForm" novalidate>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <div class="form-group">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" formControlName="email" class="form-control"
        [(ngModel)]="user.email" required />
      <div
        *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
        class="alert alert-danger">
        <div class="required" *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" formControlName="password"
        class="form-control" [(ngModel)]="user.password" required />
      <div
        *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
        class="alert alert-danger">
        <div class="required" *ngIf="angForm.controls['password'].errors.required">
          Password is required.
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="passwordConfirm"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="passwordConfirm" formControlName="passwordConfirm"
        class="form-control" [(ngModel)]="user.passwordConfirm" required />
      <div
        *ngIf="angForm.controls['passwordConfirm'].invalid && (angForm.controls['passwordConfirm'].dirty || angForm.controls['passwordConfirm'].touched)"
        class="alert alert-danger">
        <div class="required" *ngIf="angForm.controls['passwordConfirm'].errors.required">
          This field is required.
        </div>
      </div>
    </div>
    <p>*password must have minimum 6 symbols, 1 non-alphanumeric symbol, 1 uppercase letter, 1 lowcase letter, 1 digit
    </p>
    <button type="submit" class="registerbtn" [disabled]="angForm.pristine || angForm.invalid"
      (click)="registration(user)">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a [routerLink]="['/login']">Sign in</a>.</p>
  </div>

</form>