body{
    background: linear-gradient(to top left, #737b7e, rgb(255, 255, 255));
    position: relative;
    width: 1920px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.sign-up{
    font-size: 20px;
    position: absolute;
    left: 1750px;
}
.sign-out{
    position: absolute;
    left: 1850px;
    font-size: 300%;
}
.admin-button{
    position: absolute;
    left: 1700px;
    font-size: 300%;
}
.basket-button{
    position: absolute;
    left: 1750px;
    font-size: 300%;
}
.user-button{
    position: absolute;
    left: 1800px;
    font-size: 300%;
}
i{
    cursor: pointer;
}
h1{
    cursor: pointer;
}