<body>
    <h1 routerLink="/mainpage">Book Store!</h1>
    <div class="admin-button" *ngIf="role=='admin'">
        <i (click)="openAdminPage()" class="fa fa-user-secret" aria-hidden="true" matTooltip="Open admin page"></i>
    </div>
    <div class="basket-button" *ngIf="role=='admin' || role=='user'">
        <i (click)="openBasket()" class="fa fa-shopping-cart" aria-hidden="true" matTooltip="Open basket"></i>
    </div>
    <div class="user-button" *ngIf="role=='admin' || role=='user'">
        <i [routerLink]="['/userpage']" class="fa fa-user" aria-hidden="true" matTooltip="Open user page"></i>
    </div>
    <div class="sign-out" *ngIf="role=='admin' || role=='user'">
        <i class="fa fa-sign-out" (click)="logout()" aria-hidden="true" matTooltip="Sign out"></i>
    </div>
    <div class="sign-up" *ngIf="role!='admin' && role!='user'">
        <a routerLink="/register">Sign up</a>
    </div>
</body>