body{
    width: 1500px;
    padding-left: 50px;
    background-color: transparent;
}
p{
    font-size: 16px;
}
input[type="submit"]
{
    font-size:14px;
}
input[type="text"]
{
    font-size:14px;
    height: 30px;
    margin-right: 10px;
}
input[type="password"]
{
    font-size:14px;
    height: 30px;
    margin-right: 10px;
}
.orders-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.order{
    width: 350px;
}
button{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: 0px;
}
h2{
    font-size: 30px;
}
label{
    font-size: 14px;
}
.btn-group{
    vertical-align: 0px;
    margin-right: 10px;
}
table{
    width: 1100px;
}
.mat-form-field{
    font-size: 14px;
    width: 700px;
}