<h4>Add Book</h4>
<p>Input title:</p>
<mat-form-field>
    <input matInput [(ngModel)]="model.title">
</mat-form-field>
<p>Input price:</p>
<mat-form-field>
    <input matInput [(ngModel)]="model.price">
</mat-form-field>
<p>Description:</p>
<textarea [(ngModel)]="model.description" rows="5" cols="70"></textarea>
<div class="row">
    <div class="col-xs-12 col-12 form-group">
        <p>Choose publish date:</p>
        <input class="form-control custom" #drp="bsDatepicker" bsDatepicker [(ngModel)]="model.publishDate"
        [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
    </div>
</div>
<img src={{model.imageUrl}}>
<div class="image">
    <input type="file" (change)="onFileChanged($event)">
</div>
<p>Select authors</p>
<ng-select class="custom" [items]="people$.authors" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="name" bindValue="id" placeholder="Select people" [(ngModel)]="model.authorBookList">
</ng-select><br>
<p>Select genres</p>
<ng-select class="custom" [items]="genres$.genres" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="name" bindValue="id" placeholder="Select genres" [(ngModel)]="model.bookGenreList">
</ng-select>
<button (click)="addBook(model)" class="btn btn-primary btn-sm">Add Book</button>