<app-header></app-header>
<body>
    <div class="userpage-body">
        <div class="userpage-content">
            <h3>User: {{email}}</h3>
            <a routerLink="/mainpage"><--Back to store</a>
            <div class="orders-wrapper">
                <div *ngFor="let purchase of userPurchases.purchases">
                    <div class="order">
                        <h4>Order: {{purchase.orderId}}</h4>
                        <h4>Order's date: {{purchase.creationDate}}</h4>
                        <h4 *ngIf="purchase.books.length>0">Purchased books:</h4>
                        <div class="purchased-books">
                            <div class="book" *ngFor="let book of purchase.books">
                                <div class="book-image">
                                    <img src={{book.imageUrl}} alt={{book.title}}>
                                </div>
                                <p>Title: {{book?.title}}</p>
                                <p>Price: {{book?.price}}</p>
                                <p>Publish date: {{book.publishDate}}</p>
                                <div class="description-container" [class.show]="book.visible">
                                    Description: {{book.description}}
                                </div>
                                <button class="show-more-button btn btn-primary"
                                    (click)="book.visible = !book.visible">{{ book.visible ? 'Show less': 'Show More' }}</button>
                                <div *ngIf="book.authors.length>0">
                                    <div class="book-authors-loop">
                                        <p><b>Authors:&nbsp;</b></p>
                                        <p *ngFor="let author of book.authors">{{author?.name}} &nbsp;</p>
                                    </div>
                                </div>
                                <div *ngIf="book.genres.length>0">
                                    <div class="book-genres-loop">
                                        <p><b>Genres:&nbsp;</b></p>
                                        <p *ngFor="let genre of book.genres">{{genre?.name}} &nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 *ngIf="purchase.magazines.length>0">Purchased magazines:</h4>
                        <div class="magazines-wrapper">
                            <div class="purchasedMagazine" *ngFor="let magazine of purchase.magazines">
                                <p>Magazine title: {{magazine?.title}}</p>
                                <p>Magazine price: {{magazine?.price}}</p>
                                <div *ngIf="magazine.books.length>0">
                                    <h6>Books:</h6>
                                    <div *ngFor="let book of magazine.books">
                                        <p>Book title: {{book?.title}}</p>
                                        <p>Book price: {{book?.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>