body{
    background-image: url(https://previews.dropbox.com/p/thumb/AAjjvY3XWhdIC1U8s6_lu3zmrqWydIAdAsuvQoZDI1VI4ImMBe_Vdc195jeS0b5v_W9Bjx5aw6urQUq0UlgVkEoxuB_nDQRClamxkDtceJgKrghCW7BzLRWO7ETvmCN11oIHARrF6VGLZYkof9bOByrQfFaHoyAYVJenGFhVIblSmum2uNLbx99yXQQzf1lo1xxwepSwxORQTgfRi35syd218Q21b7Lw9Lbfc8so66XLNscsoT5kb9zrFwjjuC-DH5waDRthO_oCwJqE0pZiVuDBQ7q9dyDJ8tlyfb0LovrH768qb5M-X__SEAZCfazAyNCTy5QAGVQGm51VZZ0MSu4A/p.png?fv_content=true&size_mode=5);
    background-repeat: repeat;
}
.userpage-content{
    margin-left: 50px;
}
p{
    font-size: 14px;
}
.description-container{
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
.book-authors-loop{
    display: flex;
}
.book-genres-loop{
    display:flex;
}
.book{
    /* border: 1px solid black; */
    margin: 5px;
    width: 384px;
}
.purchased-books{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
button{
    font-size: 14px;
}
.orders-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.order{
    border-right: 1px solid rgba(143, 129, 129, 0.979);
    margin-left: 20px;
}
h3{
    font-size: 30px;
}
a{
    font-size: 30px;
}