<h1>Login</h1>
<div class="container">
    <form>
      <div class="row">
        <div class="col" >
          <input type="text" name="username" placeholder="Username" [(ngModel)]="user.email" required>
          <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
          <input type="submit" (click)="login(user)" value="Login" >
          <input type="submit" (click)="externalLogin()" value="Log in with google">
        </div>
  
      </div>
    </form>
  </div>
  
  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/']" style="color:white" class="btn">Sign up</a>
      </div>
    </div>
  </div>