<div class="row">
    <div class="col-75">
        <div class="container">
            <!-- <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
            </div> -->
            <form>
                <div class="row">
                    <div class="col-50">
                        <h3>Payment</h3>
                        <div class="ccnum">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" [(ngModel)]="payment.cardnumber" id="ccnum" name="cardnumber"
                                placeholder="1111222233334444">
                        </div>
                        <div class="expmonth">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" [(ngModel)]="payment.cardexpmonth" id="expmonth" name="expmonth"
                                placeholder="10">
                        </div>
                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" [(ngModel)]="payment.cardexpyear" id="expyear" name="expyear"
                                    placeholder="20">
                            </div>
                            <div class="col-50">
                                <label for="cvc">CVC</label>
                                <input type="text" [(ngModel)]="payment.cardcvc" id="cvc" name="cvc" placeholder="352">
                            </div>
                            <div class="col-50">
                                <label for="totalamount">Total amount: {{totalamount}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" (click)="charge(payment)" value="Pay" class="btn">
            </form>
        </div>
    </div>
</div>