<img src={{book.imageUrl}} alt={{book.title}}>
<div class="image">
    <input type="file" (change)="onFileChanged($event)">
</div>
<p>Title:</p>
<mat-form-field>
    <input matInput [(ngModel)]="book.title">
</mat-form-field>
<p>Price:</p>
<mat-form-field>
    <input matInput [(ngModel)]="book.price">
</mat-form-field>
<p>Publish date: {{book.publishDate}}</p>
<div class="row">
    <div class="col-xs-12 col-12 form-group">
        <p>Change publish date:</p>
        <input class="form-control custom" #drp="bsDatepicker" bsDatepicker [(ngModel)]="model.publishDate"
        [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }">
    </div>
</div>
<textarea [(ngModel)]="book.description" rows="5" cols="70"></textarea>
<p><b>Authors:&nbsp;</b></p>
<p *ngFor="let author of book.authors">{{author?.name}} &nbsp;</p>
<p><b>Genres:&nbsp;</b></p>
<p *ngFor="let genre of book.genres">{{genre?.name}} &nbsp;</p>
<p>Select new authors</p>
<ng-select class="custom" [items]="people.authors" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="name" placeholder="Select authors" [(ngModel)]="book.authors">
</ng-select><br>
<p>Select new genres</p>
<ng-select class="custom" [items]="types.genres" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="name" placeholder="Select genres" [(ngModel)]="book.genres">
</ng-select>
<button mat-button (click)="updateBook()">Edit</button>