<body>
    <div class="image-wrapper">
        <img class="image"
            src="https://previews.dropbox.com/p/thumb/AAit6bSslRqpMYEvbIdoUHjDdewvw3eWNVGTzEQGT1agc_lZG53R23tEEKnuwk3ZrOsDrO54guvLhfz_A6mGzrrZI6riIAa_bs6W3VGHaQ2LBDC9iaRIgrjF8wDyXgfThS3rnxpExdLSzns2N1JCrO9PKLMv5nGhlfW7F-8fR9fwPJ4GE5r3lxz_v-bjwE2gzo-mI_OFD0eib4wqCQr_Zx3fP5VWOoJay2VRGZ7neW70ebiBT6JdaTXizkEndhsLv_B_v4-Onx1A0SjZ29prmtFSm4Jy00rgrR_DYnuxPEtJFJwoovmidwkLB03fckqDGkCKSFoGKij9fG2vA8eorg5TfQfLQmycmFg44RDyOyj99A/p.png?fv_content=true&size_mode=5">
    </div>
    <p>Payment successful</p>
    <div class="button">
        <button type="submit" (click)="backToMainpage()">Back to mainpage</button>
    </div>
</body>