<h4>Add magazine</h4>
<p>Input title:</p>
<mat-form-field>
    <input matInput [(ngModel)]="model.title">
</mat-form-field>
<p>Input price:</p>
<mat-form-field>
    <input matInput [(ngModel)]="model.price">
</mat-form-field>
<p>Select multiple elements</p>
<ng-select class="custom" [items]="books.books" [multiple]="true" [closeOnSelect]="false" [searchable]="false"
    bindLabel="title" bindValue="id" placeholder="Select books" [(ngModel)]="model.magazineBookList">
</ng-select>
<button (click)="addMagazine(model)" class="btn btn-primary btn-sm">Add Magazine</button>